I can't swim anymore, I'm sinking in flows of thoughts.

<div class="ocean">
    <% if @tags.empty? %>
        This ocean is so empty.
    <% else %>
        <% @tags.each do |tag| %>
            <%= TagsHelper.output :link, tag %>&nbsp;
        <% end %>
    <% end %>
</div>

<a href="/ocean/new/flow">Start flowing</a>

<% form_for(:flow, :url => '/ocean/search', :html => { :style => 'position: absolute; bottom: 5px; right: 5px;' }) do |f| %>
    <%= f.text_field :tag, :name => 'tag' %>

    <%= f.submit 'Search' %>
<% end %>
