<h2>Latest active flows</h2><br/>

<table class="flows">
    <tr><th>Last Drop On</th><th>Last Drop By</th><th>Flow</th></tr>

    <% @flows.each do |flow| %><tr>
        <%= FlowsHelper.output :last_post, flow, '<td>%s</td><td>%s</td>' %>
        <td><%= FlowsHelper.output :link, flow %></td>
    </tr><% end %>
</table>
