<% if @flows.empty? %>
    I'm so empty ;_;
<% else %>

<% if @search %>
    <h2><%= @search %></h2>
<% else %>
    <h2>Latest active flows</h2>
<% end %>
<br/>

<% if @flows.empty? %>
    There are no flows that match what you searched for :(((
<% else %>
    <table class="flows">
        <tr><th>Last Drop At</th><th>Last Drop By</th><th>Floats</th><th>Flow</th></tr>

        <% @flows.each do |flow| %><tr>
            <%= flow.output :last_post, '<td>#{at}</td><td>#{by}</td>' %>
            <td><%= flow.output :tags %></td>
            <td><%= flow.output :link %></td>
        </tr><% end %>
    </table>
<% end %>

<% end %>
