<div class="user_view">
    <div class="data">
        <div class="avatar"><%= gravatar_for @user %></div>

        <p>
            <%= @user.name %><br/>
            <%= @user.email if @user.modes[:email_show] || (current_user && (@user.id == current_user.id || current_user.modes[:can_see])) %>
        </p>
    </div>

    <% if !@user.stuff.empty? %>
        <div class="stuff"><%= FlowsHelper.output :content, @user.stuff %></div>
    <% end %>
</div>
