<div class="code"><div class="language"><%= h SyntaxHighlighter.language(code.language, true) %><%= " (<a href=\"/codes/#{code.id}\">link</a>)" if inDrop rescue false %></div>
    <div class="source"><%= SyntaxHighlighter.new(code.language).highlight(code.content) %></div>
</div>
