<center>

<table class="codes">
    <tr><th>Pasted At</th><th>Pasted By</th><th>Language</th><th>Code</th></tr>
    <% @codes.each do |code| %><tr>
        <%= CodesHelper.output :last_code, code, '<td>#{at}</td><td>#{by}</td>' %>
        <td><%= SyntaxHighlighter.language(code.language, true) %></td>
        <td><a href="<%= CodesHelper.path(code) %>">&lt; /codes/<%= code.id %></a></td>
    </tr><% end %>
</table>

</center>

<br/>
<a href="/codes/new">Paste code</a>
