<% if current_user && current_user.modes[:can_create_projects] %>
    <div class="manage">
        <a href="/projects/new">Create</a>
    </div>
<% end %>

<table class="projects">
    <tr><th>Owner</th><th>Language</th><th>Project</th></tr>
    
    <% @projects.each do |project| %><tr/>
        <td><%= UsersHelper.output :user, project.user %></td>
        <td><%= h project.language %></td>
        <td><%= ProjectsHelper.output :link, project %></td>
    </tr><% end %>
</table>
