* {
    margin: 0;
    padding: 0;
    position: relative;
}

a:link, a:visited, a:active {
    font-weight: bold;
    color: gray;
}

a:hover {
    font-weight: bold;
    color: black;
}

body {
    background: white;
    color: black;
    font-family: "Courier New";
    font-size: 12px;
}

div#navigation_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 23;

    background: white;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 3px;
}

div#navigation_menu a {
    text-decoration: none;
}

div#user_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 23;

    background: white;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 3px;
}

div#user_menu a {
    text-decoration: none;
}

div#user_menu span.username {
}

div#user_menu span.username a {
    text-decoration: none;
    font-weight: normal;
}

div#container {
    width: 90%;
    border: 2px solid gray;
    margin: 42px auto;
    padding: 5px;
}

div#footer {
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;

    text-align: right;

    border-top: 2px solid gray;
}

div#footer a {
    text-decoration: none;
}

div.user_view {
    width: 500px;
    height: 100px;
    margin: 10px auto;
}

div.avatar {
    float: left;
}

div.data {
    float: left;

    margin-left: 10px;

    font-size: 16px;
    font-weight: bold;
}

div.field {
    margin-bottom: 7px;
}

div.field div.label {
}

div.right {
    width: 100%;
    text-align: right;
}

/* Ocean */

div.ocean {
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid gray;
}

/* Flow */
div#container div.flow {

}

div#container div.flow div.title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

div#container div.flow div.floats {
    text-align: center;
    margin-bottom: 5px;
}

div#container div.flow div.floats a {
    text-decoration: none;
}

div#container div.flow div.floats a:before {
    content: '"';
}

div#container div.flow div.floats a:after {
    content: '"';
}

div#container div.flow div.drop {
    border: 2px solid gray;
    margin-bottom: 3px;
}

div#container div.flow div.drop div.user {
    border-bottom: 2px solid gray;
    color: blue;
}

div#container div.flow div.drop div.user {
    border-bottom: 2px solid gray;
    color: blue;
}

div#container div.flow div.drop div.user span.name {
}

div#container div.flow div.drop div.user a {
    color: blue;
}

div#container div.flow div.drop div.user * {
    vertical-align: middle;
}

div#container div.flow div.drop div.user.anonymous {
    color: #666666;
}

div#container div.flow div.drop div.content {
    padding: 3px;
    white-space: pre;
}

div#container div.flow div.reply {
}

div#container div.flow a.reply {
    text-decoration: none;
    font-weight: bold;
}

/* Tag */

table.flows {
}

table.flows td {
    padding: 3px 5px;
    border: 1px solid gray;
    text-align: center;
}

table.flows a {
    text-decoration: none;
}

/* Code */

div.code {
    font-family: Terminus, Courier New, Monospace;
    border: 1px solid gray;
    white-space: normal;
}

div.code div.language {
    border-bottom: 1px solid gray;
    padding-left: 5px;
    font-weight: bold;
}

div.code div.source {
    white-space: pre;
    padding: 5px;
    overflow: auto;
}

/* Errors */

.fieldWithErrors label {
    color: red;
    font-weight: bold;
}

div#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

div#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

div#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

div#errorExplanation ul li {
    font-size: 12px;
    list-style: none;
}

/* Debug */

div#debug {
    width: 100%;
    background: white;
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
}

div.flash.error {
    border: 2px solid red;
    background: #ffdddd;
}

/* Languages */

span.comment {
    color: gray;
}

span.comment * {
    color: gray !important;
}

span.preprocessor {
    color: green;
}
    
span.preprocessor * {
    color: green !important;
}

span.string {
    color: red;
}

span.string * {
    color: red !important;
}

span.keyword {
    color: orange;
}

span.type {
    color: red;
}

span.function {
    color: green;
}

span.variable {
    color: green;
}

span.constant {
    color: purple;
}

span.symbol {
    color: orange;
}

span.ruby.parameters {
    color: blue;
}

span.gas.keyword {
    color: green;
}

span.gas.section {
    color: orange;
}

span.gas.label {
    color: blue;
}

span.gas.register {
    color: purple;
}

span.gas.constant {
    color: blue;
}

span.c.char {
    color: orange;
}
