* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background: white;
    color: black;
    font-family: "Courier New";
}

img {
    background: white;
}

div#user_thingy {
    position: fixed;
    top: 0;
    right: 0;

    background: white;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 3px;
}

div#container {
    width: 90%;
    border: 2px solid gray;
    margin: 42px auto;
    padding: 5px;
}

div.user {
    width: 500px;
    height: 100px;
    margin: 10px auto;
}

div.avatar {
    float: left;
}

div.data {
    float: left;

    margin-left: 10px;

    font-size: 16px;
    font-weight: bold;
}

div.field {
    margin-bottom: 7px;
}

div.field div.label {
}

/* Errors */

.fieldWithErrors label {
    color: red;
    font-weight: bold;
}

div#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

div#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

div#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

div#errorExplanation ul li {
    font-size: 12px;
    list-style: none;
}

/* Debug */

div#debug {
    width: 100%;
    background: white;
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
}

div.flash.error {
    border: 2px solid red;
    background: #ffdddd;
}
