* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background: white;
    color: black;
    font-family: "Courier New";
    font-size: 12px;
}

img {
    background: white;
}

div#navigation_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 23;

    background: white;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 3px;
}

div#user_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 23;

    background: white;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 3px;
}

div#user_menu span.username {
    font-weight: bold;
}

div#user_menu span.username a {
    text-decoration: none;
}

div#container {
    width: 90%;
    border: 2px solid gray;
    margin: 42px auto;
    padding: 5px;
}

div.user_view {
    width: 500px;
    height: 100px;
    margin: 10px auto;
}

div.avatar {
    float: left;
}

div.data {
    float: left;

    margin-left: 10px;

    font-size: 16px;
    font-weight: bold;
}

div.field {
    margin-bottom: 7px;
}

div.field div.label {
}

div.right {
    width: 100%;
    text-align: right;
}

/* Flow */
div.flow {

}

div.flow div.title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

div.flow div.drop {
    border: 2px solid gray;
    margin-bottom: 3px;
}

div.flow div.drop div.user {
    border-bottom: 2px solid gray;
    padding-left: 3px;
    color: blue;
}

div.flow div.drop div.user * {
    vertical-align: middle;
}

div.flow div.drop div.user.anonymous {
    color: gray;
}

div.flow div.drop div.content {
    padding: 3px;
}

div.flow div.reply {
}

div.flow a.reply {
    text-decoration: none;
    font-weight: bold;
}

pre {
    font-family: Terminus, Courier New, Monospace;
    border: 1px solid gray;
}

pre div.language {
    border-bottom: 1px solid gray;
    padding-left: 5px;
    font-weight: bold;
}

pre div.source {
    white-space: pre;
    padding: 0 5px;
}

/* Errors */

.fieldWithErrors label {
    color: red;
    font-weight: bold;
}

div#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

div#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

div#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

div#errorExplanation ul li {
    font-size: 12px;
    list-style: none;
}

/* Debug */

div#debug {
    width: 100%;
    background: white;
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
}

div.flash.error {
    border: 2px solid red;
    background: #ffdddd;
}

/* Languages */

span.comment, span.comment * {
    color: gray;
}

span.preprocessor, span.preprocessor * {
    color: green;
}

span.keyword {
    color: green;
}

span.type {
    color: red;
}

span.string {
    color: red;
}

span.function {
    color: green;
}

span.ruby.parameters {
    color: blue;
}
