<% if current_user && current_user.modes[:can_delete_codes] %>
    <div class="manage"><a href="/codes/delete/<%= @code.id %>">Delete</a></div>
    <br/><br/>
<% end %>

<%= render :partial => 'codes/show', :locals => { :code => @code, :inDrop => false } %>
